body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
  text-align: center;
}

.img-responsive {
  margin: 0 auto;  
}
/*Bootstrap Overrides*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  width: 100%;
  height: auto;
}
header.hr-header {
  border-bottom: 1px solid;
  height: 2em;
  margin-bottom: 3em;
  text-align: center;
}
header.hr-header > h1 {
  background: white;
  display: inline-block;
  margin: 0px;
  padding: 0.25em 0.75em;
  vertical-align: middle;
  white-space: nowrap;
}
@media (max-width:500px) {
  .carousel-inner .item h1 {
    font-size: 1.5em;
  }
  .carousel-inner .item p {
    font-size: 0.5em;
  }
}